.zoomIt{
display:block!important;
-webkit-transition:-webkit-transform 1s ease-out;
-moz-transition:-moz-transform 1s ease-out;
-o-transition:-o-transform 1s ease-out;
-ms-transition:-ms-transform 1s ease-out;
transition:transform 1s ease-out;
}
.zoomIt:hover{
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(2)
}

#cajacookies {
    box-shadow: 0px 0px 5px 5px #808080;
    background-color: black;
    color: white;
    margin-left: 30px;
    padding: 10px;
    margin-bottom: 0px;
	position:fixed;
	bottom:0px;
}

#cajacookies button {
    color: black;
}

#copyright{
	margin-top: 100px;
	margin-left: 480px;
	margin-bottom: 10px;
	bottom: 0px;
	user-select: none;
} 