.zoomIt{
display:block!important;
-webkit-transition:-webkit-transform 1s ease-out;
-moz-transition:-moz-transform 1s ease-out;
-o-transition:-o-transform 1s ease-out;
-ms-transition:-ms-transform 1s ease-out;
transition:transform 1s ease-out;
}
.zoomIt:hover{
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(2)
}

#cajacookies {
    box-shadow: 0px 0px 5px 5px #808080;
    background-color: black;
    color: white;
    margin-left: 30px;
    padding: 10px;
    margin-bottom: 0px;
	position:fixed;
	bottom:0px;
}

#cajacookies button {
    color: black;
}

#copyright{
	margin-top: 100px;
	margin-left: 480px;
	margin-bottom: 10px;
	bottom: 0px;
	user-select: none;
}

html,
body,
.view {
    height: 100%;
}
/* Navigation*/

.navbar {
    background-color: #3c4f74;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #3c4f74;
}

footer.page-footer {
    background-color: #3c4f74;
    margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}
/*Call to action*/


.view {
    background: url("http://localhost/Proyecto_Licencias/img/licencias_background.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Contact section*/

#contact .fa {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #1C2331;
} 